<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" strict="true" name="REALLog">
	<Properties>
		<Property name="filename">RealTest.log</Property>
	</Properties>

	<Appenders>
		<Appender type="Console" name="STDOUT">
			<Layout type="PatternLayout" pattern="%d{ISO8601} [%t] %-5p %C - %m%n" />
		</Appender>
		<File name="TestLogFile" fileName="logs/RealTest.log" append="false"
				filePattern="logs/Test-%d{yyyy-MM-dd}-%i.log.zip" ignoreExceptions="false">
			<PatternLayout>
				<Pattern>%d{ISO8601} [%t] %-5p %C - %m%n</Pattern>
			</PatternLayout>
			<SizeBasedTriggeringPolicy size="30 MB" />
		</File>
	</Appenders>

	<Loggers>
		<Logger name="org.eclipselabs.real.core.searchobject.KeyedSOImpl" level="warn"
			additivity="false">
			<AppenderRef ref="TestLogFile" />
			<AppenderRef ref="STDOUT" />
		</Logger>
		
		<Logger name="org.eclipselabs.real.core.util.KeyedObjectRepositoryImpl" level="warn"
			additivity="false">
			<AppenderRef ref="TestLogFile" />
			<AppenderRef ref="STDOUT" />
		</Logger>

		<Logger name="org.eclipselabs.real.core.searchobject.SearchObjectRepositoryImpl" level="warn"
			additivity="false">
			<AppenderRef ref="TestLogFile" />
			<AppenderRef ref="STDOUT" />
		</Logger>
		<Logger name="org.eclipselabs.real" level="debug"
			additivity="false">
			<AppenderRef ref="TestLogFile" />
			<AppenderRef ref="STDOUT" />
		</Logger>

		<Root level="error">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="TestLogFile" />
		</Root>
	</Loggers>

</Configuration>