<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<bean id="test1" class="org.eclipselabs.real.core.searchobject.SearchObjectGroupStrImpl">
		<property name="pathElements">
			<list>
				<value>element 1</value>
				<value>element 2</value>
			</list>
		</property>
		<!-- additional collaborators and configuration for this bean go here -->
	</bean>
	
	<!-- SPRING INTERNAL BEANS START -->
	
	<!-- This bean registers and processes (among others) @PostConstruct and @PreDestroy -->
	<bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>
	
	<!-- SPRING INTERNAL BEANS END -->


	<!-- COMMONLY USED BEANS START -->
	<bean id="searchObjectParent" class="org.eclipselabs.real.core.searchobject.SOComplexRegexImpl" abstract="true">
		<constructor-arg index="0" value="No name SO"/>
	</bean>
	<bean id="searchObjectViewParent" class="org.eclipselabs.real.core.searchobject.SOComplexRegexViewImpl">
		<constructor-arg index="0" value="No name view"/>
	</bean>
	
	<bean id="rrparamInstance0" class="org.eclipselabs.real.core.regex.RealRegexParamInteger" scope="prototype">
		<constructor-arg index="0" value="instance" />
		<constructor-arg index="1" value="0" />
	</bean>
	
	<bean id="simpleRegexNoName" class="org.eclipselabs.real.core.regex.SimpleRegexImpl" abstract="true">
		<constructor-arg index="0" value="No Name" />
		<constructor-arg index="1" value="this value must be replaced" />
	</bean>
	<bean id="simpleRegexCaseInsensitive" parent="simpleRegexNoName" abstract="true">
		<property name="regexFlags" value="#{T(java.util.regex.Pattern).CASE_INSENSITIVE + T(java.util.regex.Pattern).UNICODE_CASE}"></property>
	</bean>

	<bean id="simpleRegexFirst" class="org.eclipselabs.real.core.regex.SimpleRegexImpl" scope="prototype">
		<constructor-arg index="0" value="Default" />
		<constructor-arg index="1" value="this value must be replaced" />
		<property name="parameters">
			<list>
				<ref bean="rrparamInstance0" />
			</list>
		</property>
	</bean> 
	
	<bean id="sortRequestDateTime" class="org.eclipselabs.real.core.searchresult.sort.DateTimeSortRequest" scope="prototype">
		<constructor-arg index="0" value="MERGE_RESULTS" />
		<constructor-arg index="1" value="Date_Time" />
	</bean>
	
	<bean id="paramDateLowBound" class="org.eclipselabs.real.core.searchobject.param.ReplaceableParamImpl" scope="prototype">
		<constructor-arg index="0" value="DATE"/>
		<constructor-arg index="1">
			<bean class="org.eclipselabs.real.core.searchobject.param.ReplaceableParamKey">
				<constructor-arg index="0" value="LOW_BOUND"></constructor-arg>
			</bean>
		</constructor-arg>
		<constructor-arg index="2" value="Low Bound"/>
		<constructor-arg index="3">
			<set>
				<value>LOW_BOUND</value>
			</set>
		</constructor-arg>
		<constructor-arg index="4" value="#{T(java.time.LocalDateTime).now().withNano(0).withHour(0).withMinute(0).withSecond(0)}"/>
	</bean>
	<bean id="paramDateHighBound" class="org.eclipselabs.real.core.searchobject.param.ReplaceableParamImpl" scope="prototype">
		<constructor-arg index="0" value="DATE"/>
		<constructor-arg index="1">
			<bean class="org.eclipselabs.real.core.searchobject.param.ReplaceableParamKey">
				<constructor-arg index="0" value="HIGH_BOUND"></constructor-arg>
			</bean>
		</constructor-arg>
		<constructor-arg index="2" value="High Bound"/>
		<constructor-arg index="3">
			<set>
				<value>LOW_BOUND</value>
			</set>
		</constructor-arg>
		<constructor-arg index="4" value="#{T(java.time.LocalDateTime).now().withNano(0).withHour(23).withMinute(59).withSecond(59)}"/>
	</bean>
	<bean id="paramStringValue" class="org.eclipselabs.real.core.searchobject.param.ReplaceableParamImpl" scope="prototype">
		<constructor-arg index="0" value="STRING"/>
		<constructor-arg index="1">
			<bean class="org.eclipselabs.real.core.searchobject.param.ReplaceableParamKey">
				<constructor-arg index="0" value="VALUE"></constructor-arg>
			</bean>
		</constructor-arg>
		<constructor-arg index="2" value="Value to find"/>
		<constructor-arg index="3">
			<set>
				<value>VALUE</value>
			</set>
		</constructor-arg>
		<constructor-arg index="4" value="Today End"/>
	</bean>
	<bean id="acceptInterval" init-method="updateCriterionReferences" class="org.eclipselabs.real.core.searchobject.crit.DTIntervalCriterion" abstract="true">
		<constructor-arg index="0" value="INTERVAL"/>
		<constructor-arg index="1" value="MainInterval"/>
		<property name="lowBoundKey" value="LOW_BOUND"/>
		<property name="highBoundKey" value="HIGH_BOUND"/>
	</bean>
	
	<!-- COMMONLY USED BEANS END -->


	<!-- ASM BEANS START -->

	<!-- Commonly used ASM beans START -->
	<!-- the group bean -->
	<bean id="groupASM" class="org.eclipselabs.real.core.searchobject.SearchObjectGroupStrImpl" scope="prototype">
		<constructor-arg index="0" value="Global.ASM"/>
		<constructor-arg index="1" value="."/>
	</bean>
	<!-- The parent of all ASM complex regexes -->
	<bean id="searchObjectParentASM" parent="searchObjectParent" abstract="true">
		<property name="searchObjectGroup" ref="groupASM"/>
		<property name="requiredLogTypes">
			<set>
				<value>ASM</value>
			</set>
		</property>
		<property name="sortRequestList">
			<list>
				<ref bean="sortRequestDateTime"/>
				<ref bean="sortRequestRegexASM"/>
			</list>
		</property>
		<property name="dateInfo" ref="dateInfoASM"/>
	</bean>
	
	<!-- the regex sort request bean -->
	<bean id="sortRequestRegexASM" class="org.eclipselabs.real.core.searchresult.sort.RegexSortRequest" scope="prototype">
		<constructor-arg index="0" value="MERGE_RESULTS" />
		<constructor-arg index="1">
			<list>
				<bean class="org.eclipselabs.real.core.regex.SimpleRegexImpl" parent="simpleRegexFirst" >
					<constructor-arg index="1" value="ASM_TIME_REGEX" />
				</bean>
			</list>
		</constructor-arg>
		<constructor-arg index="2" value="Regex_Time" />
	</bean>
	<!-- the date info bean -->
	<bean id="dateInfoASM" class="org.eclipselabs.real.core.searchobject.SearchObjectDateInfoImpl" scope="prototype">
		<constructor-arg index="0" value="ASM_TIME_FORMAT" />
		<constructor-arg index="1">
			<bean class="org.eclipselabs.real.core.regex.SimpleRegexImpl" parent="simpleRegexFirst" >
				<constructor-arg index="1" value="ASM_TIME_REGEX" />
			</bean>
		</constructor-arg>
	</bean>
	<bean id="regexFirstRecordASM" class="org.eclipselabs.real.core.regex.SimpleRegexImpl" scope="prototype">
		<constructor-arg index="0" value="FirstRecord" />
		<constructor-arg index="1" value="\AASM_TIME_REGEX((?!(ASM_TIME_REGEX)).*\r?\n)*" />
	</bean>
	<bean id="regexLastRecordASM" class="org.eclipselabs.real.core.regex.SimpleRegexImpl" scope="prototype">
		<constructor-arg index="0" value="LastRecord" />
		<constructor-arg index="1" value="ASM_TIME_REGEX((?!(ASM_TIME_REGEX)).*\r?\n)*\Z" />
	</bean>
	<bean id="guessIntervalASM" class="org.eclipselabs.real.core.searchobject.crit.DTIntervalGuessImpl" scope="prototype">
		<constructor-arg index="0" value="IntervalGuess"></constructor-arg>
		<property name="firstRecord">
			<ref bean="regexFirstRecordASM"></ref>
		</property>
		<property name="lastRecord">
			<ref bean="regexLastRecordASM"></ref>
		</property>
	</bean>
	<!-- Commonly used ASM beans END -->
	<!-- Normal ASM beans start -->
	<bean id="!I:LogInterval ASM All" parent="searchObjectParentASM">
		<constructor-arg index="0" value="!I:LogInterval ASM All"></constructor-arg>
		<property name="searchObjectDescription" value="Finds all records" />
		<property name="searchObjectTags">
			<map>
				<entry key="Role" value="User Object" />
				<entry key="Interval" value="TRUE" />
			</map>
		</property>
		<property name="mainRegexList">
			<list>
				<bean parent="simpleRegexNoName" >
					<constructor-arg index="1" value="ASM_TIME_REGEX((?!(ASM_TIME_REGEX)).*\r?\n)*" />
				</bean>
			</list>
		</property>
	</bean>
	
	<bean id="!I:LogInterval ASM" parent="!I:LogInterval ASM All">
		<constructor-arg index="0" value="!I:LogInterval ASM"></constructor-arg>
		<property name="replaceableParams">
			<list>
				<ref bean="paramDateLowBound"/>
				<ref bean="paramDateHighBound"/>
			</list>
		</property>
		<property name="acceptanceList">
			<list>
				<bean parent="acceptInterval">
					<property name="guessList">
						<list>
							<ref bean="guessIntervalASM"/>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	
	<bean id="Internal ANY RECORD Containing value ASM"  parent="searchObjectParentASM">
		<constructor-arg index="0" value="Internal ANY RECORD Containing value ASM"></constructor-arg>
		<property name="searchObjectTags">
			<map>
				<entry key="Role" value="internal" />
				<entry key="Function" value="any record" />
			</map>
		</property>
		<property name="replaceableParams">
			<list>
				<ref bean="paramStringValue"/>
			</list>
		</property>
		<property name="mainRegexList">
			<list>
				<bean parent="simpleRegexCaseInsensitive" >
					<constructor-arg index="1" value="ASM_TIME_REGEX((?!((.*?VALUE)|(ASM_TIME_REGEX))).*\r?\n)*(?!(ASM_TIME_REGEX)).*?VALUE((?!(ASM_TIME_REGEX)).*\r?\n)*" />
				</bean>
			</list>
		</property>
		<property name="viewMap">
			<map>
				<entry key="Time">
					<bean parent="searchObjectViewParent">
						<constructor-arg index="0" value="Time"/>
						<property name="viewObjects">
							<list>
								<bean parent="simpleRegexFirst">
									<constructor-arg index="1" value="ASM_TIME_REGEX" />
								</bean>
							</list>
						</property>
					</bean>
				</entry>
				<entry key="FirstLine">
					<bean parent="searchObjectViewParent">
						<constructor-arg index="0" value="Time"/>
						<property name="viewObjects">
							<list>
								<bean parent="simpleRegexNoName">
									<constructor-arg index="1" value="(?&lt;=(ASM_TIME_REGEX)).*?(?=(\r?\n))" />
								</bean>
							</list>
						</property>
					</bean>
				</entry>
			</map>
		</property>
	</bean>
	
	<bean id="ASM Value Within Interval"  parent="Internal ANY RECORD Containing value ASM">
		<constructor-arg index="0" value="ASM Value Within Interval"></constructor-arg>
		<property name="searchObjectTags">
			<map>
				<entry key="Role" value="User Object" />
			</map>
		</property>
		<property name="replaceableParams">
			<list>
				<ref bean="paramDateLowBound"/>
				<ref bean="paramDateHighBound"/>
			</list>
		</property>
		<property name="acceptanceList">
			<list>
				<bean parent="acceptInterval">
					<property name="guessList">
						<list>
							<ref bean="guessIntervalASM"/>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	
	<bean id="ASM ANY RECORD Containing value"  parent="Internal ANY RECORD Containing value ASM">
		<constructor-arg index="0" value="ASM ANY RECORD Containing value"></constructor-arg>
		<property name="searchObjectTags">
			<map>
				<entry key="Role" value="User Object" />
			</map>
		</property>
	</bean>
	
	<bean id="!L:Files Timespan ASM"  parent="searchObjectParentASM">
		<constructor-arg index="0" value="!L:Files Timespan ASM"></constructor-arg>
		<property name="mainRegexList">
			<list>
				<bean parent="simpleRegexNoName" >
					<constructor-arg index="0" value="FirstRegex"/>
					<constructor-arg index="1" value="\AASM_TIME_REGEX((?!(ASM_TIME_REGEX)).*\r?\n)*" />
				</bean>
				<bean parent="simpleRegexNoName" >
					<constructor-arg index="0" value="LastRegex"/>
					<constructor-arg index="1" value="ASM_TIME_REGEX((?!(ASM_TIME_REGEX)).*\r?\n)*\Z" />
				</bean>
			</list>
		</property>
		<property name="viewMap">
			<map>
				<entry key="Time">
					<bean parent="searchObjectViewParent">
						<constructor-arg index="0" value="Time"/>
						<property name="viewObjects">
							<list>
								<bean parent="simpleRegexFirst">
									<constructor-arg index="1" value="ASM_TIME_REGEX" />
								</bean>
							</list>
						</property>
					</bean>
				</entry>
			</map>
		</property>
	</bean>
	
	<bean id="TSMAPI"  parent="searchObjectParentASM">
		<constructor-arg index="0" value="TSMAPI"></constructor-arg>
		<property name="searchObjectTags">
			<map>
				<entry key="Role" value="User Object" />
			</map>
		</property>
		<property name="mainRegexList">
			<list>
				<bean parent="simpleRegexNoName" >
					<constructor-arg index="0" value="FirstRegex"/>
					<constructor-arg index="1" value="ASM_TIME_REGEX.*TSMAPI::((?!(ASM_TIME_REGEX)).*\r?\n)*" />
				</bean>
			</list>
		</property>
		<property name="viewMap">
			<map>
				<entry key="Time">
					<bean parent="searchObjectViewParent">
						<constructor-arg index="0" value="Time"/>
						<property name="viewObjects">
							<list>
								<bean parent="simpleRegexFirst">
									<constructor-arg index="1" value="ASM_TIME_REGEX" />
								</bean>
							</list>
						</property>
					</bean>
				</entry>
				<entry key="Dev ID">
					<bean parent="searchObjectViewParent">
						<constructor-arg index="0" value="Dev ID"/>
						<property name="viewObjects">
							<list>
								<bean parent="simpleRegexNoName">
									<constructor-arg index="1" value="(?&lt;=(dev id: )).*?(?=(, call ID:))" />
								</bean>
							</list>
						</property>
					</bean>
				</entry>
				<entry key="Call ID">
					<bean parent="searchObjectViewParent">
						<constructor-arg index="0" value="Call ID"/>
						<property name="viewObjects">
							<list>
								<bean parent="simpleRegexNoName">
									<constructor-arg index="1" value="(?&lt;=(call ID: )).*?(?=(, mod call id))" />
								</bean>
							</list>
						</property>
					</bean>
				</entry>
				<entry key="Reason">
					<bean parent="searchObjectViewParent">
						<constructor-arg index="0" value="Reason"/>
						<property name="viewObjects">
							<list>
								<bean parent="simpleRegexNoName">
									<constructor-arg index="1" value="(?&lt;=(reason: )).*?(?=(, MSM:))" />
								</bean>
							</list>
						</property>
					</bean>
				</entry>
			</map>
		</property>
	</bean>
	<!-- Normal ASM beans end -->
	<!-- ASM BEANS END -->

</beans>

