<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- services -->

	<bean id="test1" class="org.eclipselabs.real.core.searchobject.SearchObjectGroupStrImpl">
		<property name="pathElements">
			<list>
				<value>element 1</value>
				<value>element 2</value>
			</list>
		</property>
		<!-- additional collaborators and configuration for this bean go here -->
	</bean>
	<bean id="rrparamInstance0" class="org.eclipselabs.real.core.regex.RealRegexParamInteger" scope="prototype">
		<constructor-arg index="0" value="instance" />
		<constructor-arg index="1" value="0" />
	</bean>

	<bean id="firstSimpleRegex" class="org.eclipselabs.real.core.regex.SimpleRegexImpl">
		<constructor-arg index="0" value="Default" />
		<constructor-arg index="1" value="novalue" />
		<property name="parameters">
			<list>
				<ref bean="rrparamInstance0" />
			</list>
		</property>
	</bean>

	<bean id="!I:LogInterval ASM All" class="org.eclipselabs.real.core.searchobject.SOComplexRegexImpl">
		<constructor-arg index="0" value="!I:LogInterval ASM All"></constructor-arg>
		<property name="searchObjectDescription" value="from Spring" />
		<property name="searchObjectTags">
			<map>
				<entry key="Role" value="User Object" />
				<entry key="Interval" value="TRUE" />
			</map>
		</property>
		<property name="requiredLogTypes">
			<set>
				<value>ASM</value>
			</set>
		</property>
		<property name="mainRegexList">
			<list>
				<bean class="org.eclipselabs.real.core.regex.SimpleRegexImpl">
					<constructor-arg index="0" value="No Name" />
					<constructor-arg index="1" value="ASM_TIME_REGEX((?!(ASM_TIME_REGEX)).*\r?\n)*" />
				</bean>
			</list>
		</property>
		<property name="sortRequestList">
			<list>
				<bean class="org.eclipselabs.real.core.searchresult.sort.DateTimeSortRequest">
					<constructor-arg index="0" value="MERGE_RESULTS" />
					<constructor-arg index="1" value="Date_Time" />
				</bean>
				<bean class="org.eclipselabs.real.core.searchresult.sort.RegexSortRequest">
					<constructor-arg index="0" value="MERGE_RESULTS" />
					<constructor-arg index="1">
						<list>
							<bean class="org.eclipselabs.real.core.regex.SimpleRegexImpl" 
									parent="firstSimpleRegex" >
								<constructor-arg index="1" value="ASM_TIME_REGEX" />
							</bean>
						</list>
					</constructor-arg>
					<constructor-arg index="2" value="Regex_Time" />
				</bean>
			</list>
		</property>
		<property name="dateInfo">
			<bean class="org.eclipselabs.real.core.searchobject.SearchObjectDateInfoImpl">
				<constructor-arg index="0" value="ASM_TIME_FORMAT" />
				<constructor-arg index="1">
					<bean class="org.eclipselabs.real.core.regex.SimpleRegexImpl" 
							parent="firstSimpleRegex" >
						<constructor-arg index="1" value="ASM_TIME_REGEX" />
					</bean>
				</constructor-arg>
			</bean>
		</property>
	</bean>

	<!-- more bean definitions for services go here -->

</beans>

